html, body {
    max-width: 100%;
    overflow-x: hidden;
    /*가로 스크롤 없애기*/
}

body {
    margin: 0 0 0 0;
}

.intro_page {
    background-image: linear-gradient(to right, rgb(255, 87, 87) 0%, rgb(140, 82, 255) 100%);
    height: 900px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.introbox {
    height: 900px;
    display: flex;
    justify-content: space-around;
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
    }
     
}

.personimg {
    display: flex;
    height: 850px;
    flex-direction: column;
    align-self: flex-end;
    animation-name: slideDown;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.intro_textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 30px 30px 30px 10px;
}

.intro_textbox1 {
    color: white;
    font-size: 1.8rem;
    margin: 20px 0 20px 0;
    font-family: sans-serif, Roboto Condensed;
    animation-name: slideDown;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.intro_textbox2 {
    color: white;
    max-height: 300px;
    font-size: 9rem;
    margin: 20px 0 20px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 99%;
    animation-name: slideDown;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.intro_textbox3 {
    color: white;
    font-size: 1.8rem;
    margin: 20px 0 10px 0;
    font-family: "sans-serif", "Roboto Condensed", "YACgEan-tYE 0", _fb_, auto;
    line-height: 150%;
    animation-name: slideDown;
    animation-duration: 1.6s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.brief_page {
    background-color: (255, 255, 255);
    height: 700px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

.menu {
    display: flex;
    justify-content: space-around;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    font-weight: 50px;
    cursor: pointer;
}

.menu > a {
    text-decoration: none;
    color: #D9D9D9;
    margin: 30px 5px 30px 5px;
}

.menu > a:hover {
    color: rgb(168, 150, 255);
    transform: scale(1.03);
}

.aboutme {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.aboutme_textbox {
    height: 550px;
    width: 700px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aboutme_part1 {
    margin: 5px 5px 80px 5px;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    opacity: 0;
    transition:  all 4s;
}

.aboutme_part2 {
    display: flex;
    width: 700px;
    justify-content: space-around;
}

.aboutme_part1 > div {
    text-align: justify;
}

.connect_button {
    height: 80px;
    width: 230px;
    border-radius: 22px;
    border: solid 0 ;
    color: white;
    font-size: large;
    font-weight: 800;
    background-image: linear-gradient(to right, #FFCC70 0%, #C850C0, #4158D0  100%);
    height: 70px;
}

.connect_button:hover {
    background-image: linear-gradient(to right, rgb(168, 150, 255) 80%, rgb(168, 150, 255) 20%);
    transform: scale(1.02);
}

.experience_page {
    background-color: #F8F8F8;
    height: 900px;
    width: 100;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    height: 350px;
    list-style: none;
    background-image: linear-gradient(to right, rgb(255, 87, 87) 0%, rgb(140, 82, 255) 100%);
    border-radius: 19px;
    color: white;
    padding: 8px 20px 5px 20px;
    position: relative;
    cursor: pointer;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin-top: 50px;
    position: relative;
}

.wrapper img {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* <a target="_blank" href="https://icons8.com/icon/61/forward">arrow</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */

.wrapper img:first-child {
    left: -54px;
}

.wrapper img:last-child {
    right: -54px;
}


.companyname_duration {
    margin-bottom: 18px;
    font-size: 1rem;
}

.card > ul {
    text-align: justify;
    padding-right: 20px;
    padding-left: 25px;
    font-size: 0.9rem;
}

ul.carousel {
    padding-inline-start: 16px;
}


li {
    list-style: disc;
}

.card > h3 {
    font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 700px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

@media screen and (max-width:1300px) {
    .intro_textbox {
        margin: 0 0 0 0;
    }
    
    .intro_textbox1 {
        font-size: 1.4rem;
    }

    .intro_textbox2 {
        font-size: 7rem;
        
    }

    .intro_textbox3 {
        font-size: 1.4rem;
    }

    .personimg {
        height: 750px;
    }
}

@media screen and (max-width:1000px) {
    .intro_textbox {
        margin: 0 10px 0 0;
    }

    .intro_textbox1 {
        font-size: 1rem;
    }

    .intro_textbox2 {
        font-size: 3.5rem;
    }

    .intro_textbox3 {
        font-size: 1rem;
        max-width: 400px;
    }

    .introbox {
        justify-content: right;
    }

    .personimg {
        height: 750px;
        margin: 0 0 0 0;
        position: absolute;
        left: -150px;
        display: block;
    }

    .menu {
        font-size: 2rem;
    }

    .aboutme_part1 > h1 {
        font-size: 3rem;
        opacity: 0;
        transition:  all 4s;
    }

    .aboutme_part1 {
        margin-bottom: 30px;
    }

    .aboutme_part1 > div {
        font-size: 0.8rem;
        max-width: 400px;
    }

   .connect_button {
        width: 180px;
        margin: 10px;
    }

    .aboutme_part2 {
        justify-content: center;
    }
}

/* Phone Screen */
@media screen and (max-width:480px) {
    .intro_box {
        justify-content: center;
    }

    .intro_textbox {
        margin: 5px 5px 5px 5px;
        position: absolute;
        left: 1px;
        top: -10px;

    }

    .intro_textbox1 {
        font-size: 1rem;
    }

    .intro_textbox2 {
        font-size: 3.5rem;
    }

    .intro_textbox3 {
        font-size: 0.9rem;
        max-width: 400px;
    }

    .personimg {
        height: 650px;
        width: 500px;
        margin: 0 0 0 0;
        padding: 0;
        position: absolute;
        left: -150px;
        display: block;
    }

    .menu {
        font-size: 1.1rem;
    }

    .aboutme_part1 > h1 {
        font-size: 2rem;
        opacity: 0;
        transition:  all 4s;
    }

    .aboutme_part1 {
        margin-bottom: 30px;
    }

    .aboutme_part1 > div {
        font-size: 0.8rem;
        max-width: 300px;
    }

   .connect_button {
        width: 140px;
        height: 60px;
        margin: 10px;
        font-size: 0.9rem;
    }

    .aboutme_part2 {
        justify-content: center;
    }

    .experience_title {
        font-size: 2rem;
    }

    .wrapper img:first-child {
        left: -34px;
        height: 30px;
    }
    
    .wrapper img:last-child {
        right: -34px;
        height: 30px;
    }

    ul.carousel {
        padding-inline-start: 0;
    }
}